<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Todo List</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
  <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>
  <script type='text/javascript' src="/javascripts/task.js"></script>
</head>

<body>
  <div id="container">
    <div class="content">
      <% list.forEach(function(item) { %>
      <div class="list">
        <h1><%= item.name %> <i class="fa fa-plus"></i></h1>
        <form method="POST" action="/" class="add" style="display: none;">
          <input type="hidden" name="listId" value="<%= item.id %>" readonly />
          <input type="text" name="title" placeholder="Add Title New Todo" required />
          <input type="text" name="desc" placeholder="Add desc" required>
          <input type="text" name="order" placeholder="Add order" required>
          <input type="submit" value="OK">
        </form>
        <ul>
          <% task[item.id - 1].forEach(item1 =>{ %>
          <li>
            <form class="delete" method="DELETE" action="/task">
              <input type="hidden" name="id" value="<%= item1.id %>" readonly />
              <input type="hidden" name="listId" value="<%= item1.listId %>" readonly />
              <div>
                <a href="task?id=<%= item1.id %>&listId=<%= item1.listId %>"><span><i
                      class="fa fa-trash"></i></span></a><%= item1.title %>
                <div class="date">
                  <%= item1.createdAt %>
                </div>
                <div class="desc">
                  <%= item1.desc %>
                </div>
              </div>
            </form>
          </li>
          <% }); %>
        </ul>
      </div>
      <% }); %>
    </div>
  </div>
</body>

</html>